<%= form_for(@portfolio_item) do |f| %>
  <% if @portfolio_item.errors.any? %>
    <% @portfolio_item.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "", sticky: false) %>
    <% end %>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <div class="form_group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="form_group">
        <%= f.label :subtitle %>
        <%= f.text_field :subtitle, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form_group">
          <%= f.label :body %>
          <%= f.text_area :body, class: 'form-control', rows: 13 %>
      </div>
    </div>

    <div class="col-md-12">
      <br>
      <hr>

      <h3>Technologies Used: </h3>
      <div>
        <%= f.fields_for :technologies do |technology_form| %>
          <%= render 'technology_fields', f: technology_form %>
        <% end %>

        <div>
          <%= link_to_add_association 'Add Technology', f, :technologies %>
        </div>
      </div>

      <div class="form_group">
        <%= f.submit "Save Portfolio Item", class: 'btn btn-primary' %>
      </div>

    </div>
  </div>
<% end %>
